<div class="background">
  <div class="main-content mt-3">
    <div class="title description">
      <h1 class="mt-3 text-center">Contacto</h1>
      <p class="my-3"><span style="color: rgb(36, 30, 7);"><i class="far fa-envelope"></i></span>
        jesus.serrano.graciano@gmail.com</p>
    </div>
  </div>


  <div class="main-content mt-3">
    <div class="container description">
      <div class="row text-center">
        <div class="col-12 mt-3">
          <h3 class="text-center">Currículum Vitae</h3>
          <span (click)="downloadCV(1)" class="download-cv"><i class="fa-solid fa-file-pdf fa-lg"></i> Descargar CV en
            español </span>
          <span (click)="downloadCV(0)" class="download-cv"><i class="fa-solid fa-file-pdf fa-lg"></i> Descargar CV en
            inglés </span>
        </div>
      </div>
      <div class="row my-3">
        <div class="col-12">
          <h3>Enlaces</h3>
          <div class="tools">
            <a href="mailto:jesus.serrano.graciano@gmail.com"><img src="assets/images/badges/gmail.svg"></a>
            <a href="https://github.com/Jesus-ASG" target="_blank"><img src="assets/images/badges/github.svg"></a>
            <a href="https://www.linkedin.com/in/jesus-asg/" target="_blank"><img
                src="assets/images/badges/linkedin.svg"></a>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>