<div class="background">

  <div class="main-content">
    <div class="title description">
      <h1 class="mt-3">Bienvenido a mi portafolio</h1>
      <p class="my-3">By Jesús Alejandro Serrano Graciano</p>
    </div>
  </div>


  <div class="main-content">
    <div class="description my-3">
      <p>Hola, tengo 23 años y actualmente estoy estudiando mi último semestre de
        Ingeniería en Ciencias de la Computación en la Benemérita Universidad Autónoma de Puebla
        <a href="https://www.buap.mx/" target="_blank" title="Ir a https://www.buap.mx/">
          <span><i class="fa fa-external-link fa-xs" aria-hidden="true"></i></span>.
        </a>
      </p>
    </div>

    <div class="tools mt-3">
      <p class="fst-italic">Estas son mis principales tecnologías:</p>
      <img src="assets/images/badges/django.svg" alt="django">
      <img src="assets/images/badges/spring.svg" alt="spring">
      <img src="assets/images/badges/python.svg" alt="python">
      <img src="assets/images/badges/java.svg" alt="java">
      <img src="assets/images/badges/angular.svg" alt="angular">
      <br>
      <div class="my-3">
        <p (click)="seeMoreTechnologies()" class="bar-animation d-inline-block fw-bold fst-italic">{{
          show_technologies_label }}</p>
        <div ngClass="{{ show_technologies_class }}" class="d-block">
          <img src="assets/images/badges/html5.svg" alt="html5">
          <img src="assets/images/badges/css3.svg" alt="css3">
          <img src="assets/images/badges/javascript.svg" alt="javascript">
          <br>
          <img src="assets/images/badges/android_studio.svg" alt="android_studio">
          <img src="assets/images/badges/unity.svg" alt="unity">
          <br>
          <img src="assets/images/badges/laravel.svg" alt="laravel">
          <img src="assets/images/badges/php.svg" alt="php">
          <br>
          <img src="assets/images/badges/bootstrap.svg" alt="bootstrap">
          <img src="assets/images/badges/typescript.svg" alt="typescript">
          <br>
          <img src="assets/images/badges/jwt.svg" alt="jwt">
        </div>
      </div>
    </div>
  </div>


  <div class="main-content">
    <div class="link-buttons">
      <div class="d-flex w-100 text-center">
        <div class="m-auto" style="display: flex; flex-direction: row;">
          <div class="see-more-btn m-3" style="max-width: 300px;">
            <p routerLink="/projects">Ver proyectos</p>
          </div>
          <div class="see-more-btn m-3" style="max-width: 300px;">
            <p routerLink="/contact">Contacto</p>
          </div>
        </div>
        

      </div>
    </div>
  </div>
  
</div>